:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --brighter-yellow: hsl(66, 86%, 57%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    --font: 'Karla', sans-serif;
    --font-size: 16px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

body {
    background-color: var(--light-gray);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 70%;
    max-width: 640px;
    border-radius: 10px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);



    
    overflow:hidden;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.top {
    padding: 30px 30px 30px 30px;

    h2 {color: var(--cyan);}
    h3 {color: var(--bright-yellow)}
    p {
        color: var(--grayish-blue);
        line-height: 1.7em;
    }
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--light-gray);
    flex: 100%;
}

.subscription, .features{
    flex: 50%;
    padding: 20px 40px 30px 40px;
}

.subscription {
    background-color: var(--cyan);

    p {
        margin: 5px 0 30px 0;
    }

}

.cost {
    font-size: 2.5em;
    font-weight: var(--font-weight-bold);
}

.duration {
    font-weight: 200;
    position: relative;
    bottom: .5em;
    left: 10px;
}

#btn {
    width: 100%;
    height: 3rem;
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);

    color: var(--light-gray);
    font: var(--font);
    font-weight: var(--font-weight-bold);
    text-align: center;
    transition: all .2s ease-in;
}


#btn:hover{
    background-color: var(--brighter-yellow);
    cursor: pointer;
    color: var(--cyan);
    font-size: 1.1em;

    box-shadow: 5px 5px 20px 5px hsla(71, 73%, 54%, 0.2);
    transition: all .1s ease-in;
}

.features {
    background-color: #4ABEBD;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
    }

    a {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: .9em;
        font-weight: 300;
        line-height: 1.5em;
        color: var(--light-gray);
        text-decoration: none;
        
        transition: all .3s ease-out;
    }


}


.link:hover {
    text-decoration: underline;
    padding-left: 8px;
    font-weight: 700;
    color: var(--bright-yellow );
    transition: all .3s ease-out;
}


@media only screen and (max-width: 800px) {
    
    .container{
        margin-top: 150px;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subscription, .features {
        flex: 100%;
    }
}


